<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<runtime>

		<legacyUnhandledExceptionPolicy enabled="true"/>
		<!-- .NET 2 -->

		<legacyCorruptedStateExceptionsPolicy enabled="true"/>
		<!-- .NET 4 -->
	</runtime>
	<system.web>
		<compilation debug="true"/>
	</system.web>
</configuration>